langchain >= 1.2.10 
langchain-google-genai>=4.2.1
langchain-ollama>=1.0.1
langchain-openai>=1.1.10
#tavily provides search capability to agents, scrapping etc.  
langchain-tavily==0.2.17
tavily-python==0.7.22
python-dotenv>=1.2.1
black==26.1.0
isort==8.0.1
groq==0.37.1